* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

#active {
    color: #0282f9;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.jumbotron {
    background: url('/images/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
